@media screen and (min-width: 480px) {
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
    .icon-wrapper p {
	    font-size: 14px;
    }
    .web-agency h1 {
	    font-size: 130%;
    }
    .btn-custom-3 {
        margin: 5px;
    }
	.creative-design i.fa {
		height: 65px;
    	width: 65px;
    	line-height: 65px;
    	font-size: 160%;
	}
	.creative-design h3,
	.creative-design p {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) {
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
/*Add space between sections*/
    section .container {
        margin: 70px auto;
    }
/*NAVIGATION*/
    .hamburger {
        display: none;
    }
    .navigation {
	    background: transparent;
    }
    .navigation-menu {
        float: right;
        display: block !important;
    }
    .navigation-menu li {
        float: left;
/*        display: block;*/
    }
/*SECTION JUMBOTRON*/
    .hero-content h1 {
        font-size: 60px;
    }
    .hero-content p {
        font-size: 18px;
    }
    .web-agency h1 {
	    font-size: 150%;
    }
	.image-1,
	.image-2 {
		display: block;
	}  
	.creative-design h3{
		font-size: 18px;
	}
	.creative-design .box  {
/*		margin: 30px auto;*/
	}
    .person p {
        font-size: 13px;
    }
	.footer-wrap {
		max-width: 650px;
	}
}

@media screen and (min-width: 922px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
    .hero-content h1 {
        font-size: 65px;
    }
    .hero-content p {
	    font-size: 19px;
    }
    .icon-wrapper p{
	    font-size: 15px;
    }
    .btn-custom-5 {
	    margin: 0;
    }
    .person p {
        font-size: 14px;
    }
	.creative-design .box {
		margin: 5px auto;
	}
	.footer-wrap {
		max-width: 900px;
	}
	#newsletter {
		margin: 0;
	}
}
@media screen and (min-width:1024px) {
	.creative-design .box {
		margin: 15px auto;
	}
}
@media screen and (min-width:1200px) {
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
	.creative-design .box {
		margin: 45px auto;
	}
	.footer-wrap {
		max-width: 1200px;
	}
}


