/********************************
  * SUPER PACKAGE OF THE FONTS
********************************/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans|Roboto:400,700|Rubik|Ubuntu');
@import 'https://fonts.googleapis.com/css?family=Black+Ops+One|Cormorant:400,700|Inconsolata:400,700|Montserrat:400,700|Open+Sans:400,700|Raleway:400,700,900|Roboto:400,700,700i,900,900i|Source+Sans+Pro:400,700|Ubuntu:400,700,700i&subset=latin-ext';

/*KOLORY PROJEKTU
#f0f5f9
#1a1a1a
#141414
#fff
#67d5b5

ramka do przyciskow :#9E9E9E;
*/


/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Black Ops One', cursive;
font-family: 'Cormorant', serif;
*/


/*
    color:#4099FF; TWIITER

    color:#3B5998; FACEBOOK

	color: #BD081C; PRINTEREST

    color:#DB5A3C; GOOGLE-PLUS

	color: #E62117; YOUTUBE
*/


/*FAJNE KOLORY*/


/*
tło #1B1D1E
zielony #7FBA00
fajny zielony #88C549
zielony #7CA748
fajny niebieski #3075FA
niebieskie #304658
brudny szary #343436
jasniejszy szary #555555
jasny szary #72868F
fajny szary #1C1D1F
ciemny zolty #FDC325
czerwony #F24E3D
inny czerwony #1C1D1F
turkusowuy #1EAA97
*/


/* FONT AWESOME

<i class="fa fa-magic" aria-hidden="true"></i>
<i class="fa fa-fire" aria-hidden="true"></i>
<i class="fa fa-flask" aria-hidden="true"></i>
<i class="fa fa-leaf" aria-hidden="true"></i>
<i class="fa fa-code" aria-hidden="true"></i>
<i class="fa fa-signal" aria-hidden="true"></i>
<i class="fa fa-paper-plane" aria-hidden="true"></i>
<i class="fa fa-cogs" aria-hidden="true"></i>
<i class="fa fa-flag-o" aria-hidden="true"></i>
<i class="fa fa-desktop" aria-hidden="true"></i>
<i class="fa fa-bullseye" aria-hidden="true"></i>
<i class="fa fa-pencil" aria-hidden="true"></i>
<i class="fa fa-usd" aria-hidden="true"></i>
<i class="fa fa-times" aria-hidden="true"></i>
<i class="fa fa-check" aria-hidden="true"></i>
<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
<i class="fa fa-angle-right" aria-hidden="true"></i>
<i class="fa fa-angle-left" aria-hidden="true"></i>
<i class="fa fa-envelope-o" aria-hidden="true"></i>
<i class="fa fa-map-marker" aria-hidden="true"></i>
<i class="fa fa-facebook" aria-hidden="true"></i>
<i class="fa fa-twitter" aria-hidden="true"></i>
<i class="fa fa-youtube-play" aria-hidden="true"></i>
<i class="fa fa-pinterest" aria-hidden="true"></i>
<i class="fa fa-google-plus" aria-hidden="true"></i>
<i class="fa fa-copyright" aria-hidden="true"></i>
<i class="fa fa-bars" aria-hidden="true"></i>

*/


/***********************
  * UNIVERSAL CLASSES !
***********************/


/* Below classes are used in all project ! */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.mini-container {
	max-width: 700px;
	width: 90%;
	margin: 0 auto;
	/*	padding: 10px 0;*/
}

.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

section .container {
	margin: 10px auto;
}

[class*="col"] {
	min-height: 1px;
	width: 100%;
	float: left;
}

a:link,
a:visited,
a:focus {
	color: white;
	text-decoration: none;
	/*    text-transform: uppercase;*/
}

p {
	font-family: 'Lato', sans-serif;
}

span {
	color: #67d5b5;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}


/* ALL HEADERS */

.headers {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/* PATTERN */

.pattern {
	width: 50px;
	height: 1px;
	background: #67d5b5;
	text-align: center;
	margin: 20px auto;
}

.circle {
	position: relative;
	height: 7px;
	width: 7px;
	display: inline-block;
	background: #67d5b5;
	border-radius: 100%;
	bottom: 10px;
}

.center-block {
	margin: 30px auto;
}


/* DARK LAYER FOR CONTENT */

.layer {
	width: 100%;
	min-height: 300px;
	background-color: rgba(0, 0, 0, 0.85);
	overflow: hidden;
}


/* ALL BUTTONS  */

.btn {
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
}

.btn-custom-1 {
	background: #67d5b5;
	color: white;
	margin: 20px;
	z-index: 100;
}

.btn-custom-2 {
	background: #f0f5f9;
	color: black;
	text-decoration: underline;
	z-index: 100;
}

.btn-custom-3 {
	margin: 5px 0;
	background: #fff;
	color: #000;
	font-family: 'Lato', sans-serif;
	border: 1px solid #9E9E9E;
	font-weight: 900;
}

.btn-custom-4 {
	display: block;
	background: inherit;
	color: #fff;
	border: 2px solid #fff;
	width: 100%;
	max-width: 150px;
	padding: 10px;
	margin: 30px auto;
	font-weight: 700;
	transition: all .3s ease-in-out;
}

.btn-custom-4:hover,
.btn-custom-4:focus {
	background: #fff;
	color: #000;
}

.btn-custom-5 {
	display: block;
	background: #fff;
	color: #000;
	margin: 0 auto;
	transition: all .3s ease-in-out;
}
.btn-custom-5:hover,
.btn-custom-5:focus {
	transform: scale(1.1);
}

.box {
	position: relative;
	margin: 30px auto;
	min-height: 65px;
	padding: 0 10px;
	overflow: hidden;
}

.description {
	padding-left: 75px;
	word-wrap: break-word;
	text-align: left;
}
.pgtop {
    position: fixed;
    bottom: 100px;
    right: 30px; 
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    background: #141414;
    display: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.pgtop:hover i.fa,
.pgtop:focus i.fa {
	color: #67d5b5;
}
/*************************************************************/


/*****************************
 * NAVIGATION
*****************************/

.sticky {
	position: fixed;
	width: 100%;
	z-index: 1000;
	left: 0;
	top: 0;
}

.logo {
	text-align: left;
	font-size: 22px;
	letter-spacing: 2px;
	height: 60px;
	line-height: 60px;
	padding-left: 15px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.navigation {
	font-weight: 900;
	color: white;
	background: rgba(0, 0, 0, 0.75);
	min-height: 60px;
}

.navigation-menu {
	display: none;
}

.navigation-menu li {
	float: none;
}

.navigation-menu li:hover > a,
.navigation-menu li:focus > a {
	color: #68d5b6;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul > li > a {
	height: 60px;
	line-height: 67px;
	padding: 0 15px;
	transition: all 0.1s linear;
	display: block;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: capitalize;
}

.hamburger {
	position: absolute;
	top: 14px;
	right: 15px;
	height: 30px;
	width: 30px;
	border: none;
	background: inherit;
	color: #fff;
	font-weight: 900;
	font-size: 20px;
}


/***************************
    * SECTION WELCOME
***************************/

.hero {
	/*    margin: 0;*/
	position: relative;
	width: 100%;
	min-height: 100vh;
	-webkit-background: #67d5b5 url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed;
	-o-background: #67d5b5 url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed;
	-moz-background: #67d5b5 url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed;
	background: #67d5b5 url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed;
	text-align: center;
	overflow: hidden;
}

.hero-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	padding-top: 35vh;
	padding-bottom: 0vh;
	color: white;
}

.hero-content-inner {
	height: 65vh;
	overflow: hidden;
	position: relative;
}

.hero-content h1 {
	letter-spacing: 0;
	font-size: 37px;
	margin: 0;
	word-spacing: 5px;
}

.hero-content p {
	overflow: hidden;
	font-size: 16px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.8);
}


/*****************************
    * SECTION FEATURES
****************************/

.web-agency h1 {
	padding: 15px 3px;
}

.web-agency p {
	font-size: 15px;
}

.icon-wrapper {
	padding: 15px;
}

.icon-wrapper .fa {
	height: 90px;
	width: 90px;
	line-height: 90px;
	border: 1.5px solid #67d5b5;
	border-radius: 50%;
	color: #67d5b5;
	font-size: 36px;
}

.icon-wrapper p {
	font-size: 13px;
	word-wrap: break-word;
	font-weight: 600;
	color: #3b4047;
}

.icon-wrapper .pattern {
	/*    margin: 50px auto;*/
}

.portfolio .pattern {
	margin: 35px auto 70px;
}


/*****************************
    * SECTION GALLERY
****************************/

.photo {
	/*	float: left;*/
	background: center/contain no-repeat;
	height: 50vh;
	max-height: 448px;
	max-width: 391px;
	margin: auto;
}

.photo-1 {
	background-image: url(../images/slices/Mobile/team-2.jpg);
}

.photo-2 {
	background-image: url(../images/slices/Mobile/team-1.jpg);
}

.photo-3 {
	background-image: url(../images/slices/Mobile/team-3.jpg);
}


/*****************************
 * SECTION CREATIVE DESIGNS
****************************/

.creative-design {
	background-color: #f0f5f9;
}

.creative-design .box {
	padding: 0;
}

.creative-design h3 {
	text-align: left;
	font-size: 14px;
}

.creative-design h6 {
	margin: 0;
}

.creative-design i.fa {
	position: absolute;
	left: 0;
	top: 0;
	background: #67d5b5;
	color: white;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 100%;
	font-size: 150%;
}

.description h6 {
	margin: 0px;
	font-size: 13px;
}

.creative-design p {
	font-size: 13px;
	text-align: left;
}

.loading-container {
	width: 85%;
	max-width: 500px;
}

.loading {
	height: 10px;
	background: #67d5b5;
	width: 0%;
	border-radius: 5px;
}

.image-1,
.image-2 {
	display: none;
}


/***********************
   * SECTION STATISTICS
***********************/

.statistics {
	background: #67d5b5;
	color: white;
	padding: 20px 0;
}

.statistics container {
	max-width: 800px;
}

.statistics h1 {
	font-size: 40px;
	letter-spacing: 2px;
	font-family: 'Ubuntu';
}


/***********************
   * SECTION CHOOSE US
***********************/

.choose-us i.fa {
	color: #67d5b5;
	position: absolute;
	left: 10px;
	top: 0;
	width: 60px;
	height: 60px;
	font-size: 36px;
	text-align: center;
}
.choose-us h5 {
	margin: 0;
}
.choose-us p {
	font-size: 14px;
}


/************************
  * MANAGERS
************************/

.our-testimonials {
	background: #1a1a1a;
	color: #fff;
	padding-bottom: 50px;
}

.members {
	height: 400px;
	overflow: hidden;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.person-container {
	height: 400px;
	padding: 0;
	margin: 0;
}

.person {
	height: 400px;
	max-width: 700px;
	width: 100%;
}

.person-image {
	margin: 0 auto;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}

.person p {
	font-size: 12px;
	padding: 0 5px;
}

.dots {
	background-color: inherit;
	width: 150px;
	text-align: center;
	margin: 10px auto 0;
}

.dot {
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	background-color: transparent;
	border: 2px solid #fff;
	cursor: pointer;
	transition: background-color 1s ease;
}

.active-dot {
	background: #fff;
}


/***************************
 * OUR OFFERTS - PACKAGES
***************************/

.offer {
	max-width: 300px;
	margin: 10px auto;
	border: 2px solid #f0f5f9;
}

.offer:hover .top-content,
.offer:focus .top-content {
	background: #67d5b5;
	color: #fff;
}

.offer:hover,
.offer:focus {
	border-color: #67d5b5;
}

.offer button {
	transition: all .3s ease-in-out;
}

.offer:hover button,
.offer:focus button {
	transform: scale(1.15);
}

.offer p {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	margin: 0;
}

.top-content {
	padding: 30px;
	background-color: #f0f5f9;
}

.top-content h5 {
	margin: 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
}


/*
.top-content i.fa {
    position: relative;
    bottom: 25px;
    left: 5px;
    font-size: 22px;
}
*/

.price {
	display: inline-block;
	font-weight: 900;
	font-size: 38px;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
}

.price:before {
	position: absolute;
	font-family: 'fontAwesome';
	content: "\f155";
	left: -12px;
	font-size: 19px;
	font-weight: 100;
}

.down-content {
	background: #fff;
}

.offer ol {
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
}

.offer ol > li {
	background: #fff;
	padding: 10px;
	position: relative;
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
}

.offer ol > li:before {
	font-family: 'fontAwesome';
	content: "\f00c";
	width: 25px;
	height: 25px;
	text-align: center;
	position: absolute;
	left: 5%;
	display: inline-block;
}

.offer ol > li:last-of-type:before {
	font-family: 'fontAwesome';
	content: "\f00d";
}


/**********************
 * SECTION OUR BLOG
***********************/

.our-blog [class*='col'] {
}

.blog-sliders {
	max-width: 340px;
	margin: 10px auto;
	width: 95%;
	position: relative;
	overflow: hidden;
/*	height: 340px;*/
}

.blog-sliders img {
/*	position: absolute;		*/
	border-radius: 3px;
}
.tag {
	width: 45px;
	height: 45px;
	background: #67d5b5;
	top: 0;
	right: 0;
	position: absolute;
	color: #fff;
	font-weight: 700;	
	z-index: 100;
	border-top-right-radius: 3px;
}

.tag p {
	margin: 5px;
	font-size: 12px;
}


.blog-sliders:hover .next,
.blog-sliders:focus .next {
	opacity: 1;
}
.blog-sliders:hover .prev,
.blog-sliders:focus .prev {
	opacity: 1;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 47%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #67d5b5;
	transition: 0.6s ease;
	border-radius: 50%;
	background: #fff;
	font-size: 24px;
	font-weight: bold;
	z-index: 100;
	opacity: 0.25;
}

.prev {
	left: 2%;
}

.next {
	right: 2%;
}

.prev-next-inverse:hover {
	color: #fff;
	background: #67d5b5;
}

.caption p {
	font-size: 13px;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a.btn-read-more {
    padding: 10px;
    color: #67d5b5;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    cursor: pointer;
    font-family: 'Ubuntu',sans-serif;
}

/***********************
   * CONTACT US
***********************/

.contact-us {
	/*wysokość obrazu zależy od elementów w środku, rozpychają go*/
	background: #000 url('../images/mountains-1280-853.jpeg') center/cover no-repeat fixed;
	position: relative;
	color: #fff;
	overflow: hidden;
	min-height: 300px;
	position: relative;
}

.add-padding {
	padding: 50px 0;
}

.contact-us h5 {
	margin: 0;
}

.contact-us p {
	font-size: 12px;
}

.contact-us .box {
	margin: 0 auto 5px;
	height: 100px;
}

.contact-us i.fa {
	position: absolute;
	left: 10px;
	top: 0;
	color: white;
	height: 60px;
	width: 60px;
	text-align: center;
	line-height: 60px;
	border-radius: 100%;
	font-size: 150%;
	border: 1px solid #fff;
}

.active {
	background: #67d5b5;
	color: #fff;
}

.active-border {
	border-color: #67d5b5;
}

input,
textarea {
	border: 2px solid #fff;
	background: inherit;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
	outline: none;
	color: #fff;
	width: 95%;
	max-width: 700px;
	padding-left: 20px;
	display: block;
	margin: 0 auto;
	font-size: 12px;
}

input {
	height: 40px;
}

textarea {
	height: 159px;
	padding: 20px;
}

.field-wrap {
	margin-bottom: 20px;
}

input:focus,
textarea:focus {
	/*border-color: rgba(255,152,0,0.6);*/
	/*    outline-color: rgb(255,152,0);*/
	border: 1px solid rgb(255, 152, 0);
	background: rgba(255, 152, 0, 0.2);
}

input:valid,
textarea:valid {
	background: rgba(0, 255, 0, 0.1);
	border: 1px solid #55ee70;
	/*    outline-color: #55ee70;*/
}

texarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #fff;
}

textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
	color: rgb(255, 152, 0);
}


/* Firefox < 19 */

textarea::-moz-input-placeholder,
input:-moz-placeholder {
	color: #fff;
}

textarea:focus::-moz-input-placeholder,
input:focus:-moz-placeholder {
	color: rgb(255, 152, 0);
}


/* Firefox > 19 */

textarea::-moz-input-placeholder,
input::-moz-placeholder {
	color: #fff;
}

textarea:focus::-moz-input-placeholder,
input:focus::-moz-placeholder {
	color: rgb(255, 152, 0);
}


/* Internet Explorer 10 */

textarea::-ms-input-placeholder,
input:-ms-input-placeholder {
	color: #fff;
}

textarea:focus::-ms-input-placeholder,
input:focus:-ms-input-placeholder {
	color: rgb(255, 152, 0);
}


/********************
  * FOOTER 
*********************/

footer {
	background: #1a1a1a;
	color: #fff;
	padding: 20px 0 30px;
	text-align: left;
}

footer [class*='col'] {
	padding: 10px;
	min-height: 250px;
}
.footer-wrap {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
}
footer p {
	margin: 0;
	padding: 0 10px;
	font-size: 12px;
	word-wrap: break-word;
}

footer h6 {
	position: relative;
	height: 30px;
	overflow: hidden;
}

footer h6:before {
	content: '';
	position: absolute;
	background: #67d5b5;
	height: 1px;
	width: 20px;
	bottom: 0;
}

footer ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ol > li {
	padding: 5px 10px;
	font-size: 12px;
	max-width: 200px;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

footer ol > li:hover > a,
footer ol > li:focus > a {
	text-decoration: underline;
}

.html-template {
	max-width: 350px;
}

.support a {
	text-transform: uppercase;
}

#newsletter {
	width: 100%;
	margin: 0 auto;
	display: block;
	max-width: 350px;
}

.mini-gallery img {
	float: left;
	width: 30%;
	margin-right: 5%;
	max-height: 80px;
	max-width: 80px;
	margin-bottom: 5%;
}

.mini-gallery img:nth-of-type(3n) {
	margin-right: 0;
}

.footer-end {
	background: #141414;
	color: #fff;
}

.footer-end p {
	font-size: 14px;
	margin: 0;
}

.social-media {
	margin: 0 auto;
}

a.social-links {
	margin: 0 5px;
	display: inline-block;
	font-size: 18px;
	width: 25px;
	height: 25p;
	line-height: 25px;
	text-align: center;
}

a.social-links:hover,
a.social-links:focus {
	transform: scale(1.1);
}

.vertical-align-middle {
	height: 50px;
	line-height: 50px;
}