// ----
// Sass (v3.4.21)
// Compass (v1.0.3)
// ----

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans|Roboto:400,700|Rubik|Ubuntu');
@import 'https://fonts.googleapis.com/css?family=Black+Ops+One|Cormorant:400,700|Inconsolata:400,700|Montserrat:400,700|Open+Sans:400,700|Raleway:400,700,900|Roboto:400,700,700i,900,900i|Source+Sans+Pro:400,700|Ubuntu:400,700,700i&subset=latin-ext';

//maxWidth Container
$maxWidthSite: 1200px;

// Colours of the project
$dirty-white: #f0f5f9;
$black1: #1a1a1a;
$black2: #141414;
$white: #fff;
$light-cyan: #67d5b5;
$lightgray: #9E9E9E;

//Inputs colours
$orange: rgb(255, 152, 0);
$orange-with-opacity: rgba(255, 152, 0, 0.2);
$green: rgb(85, 238, 112);
$green-with-opacity: rgba(0, 255, 0, 0.2);

//Fonts
$Ubuntu: "Ubuntu", sans-serif ;
$Verdana: "Verdana", sans-serif;
$Lato: "Lato", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$OpenSans: "Open Sans", sans-serif;


//Mixins
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin boxShadow ($horizontal,$vertical,$blur,$spread,$opacity){		
    -webkit-box-shadow: $horizontal $vertical $blur $spread $opacity; 
		-moz-box-shadow: $horizontal $vertical $blur $spread $opacity; 
		box-shadow: $horizontal $vertical $blur $spread $opacity; 
}
@mixin borderRadius ($icon-radius){
    -webkit-border-radius: $icon-radius;
    -moz-border-radius:    $icon-radius;
    -ms-border-radius:     $icon-radius;
    border-radius:         $icon-radius;
}
@mixin icon-ctrl ($size,$font-size,$color-text) { 
    height: $size;
    width: $size;
    line-height: $size;
    font-size: $font-size;
    color: $color-text;
}
@mixin trans($property,$duration, $effect) {  
    -moz-transition: $property $duration $effect;
    -webkit-transition: $property $duration $effect;
    transition: $property $duration $effect;
}
// UNIVERSAL CLASSES !
// Below classes are used in all project 

* { 
	box-sizing: border-box; 
} 

body {  
	margin: 0; 
	text-align: center; 
} 

.container {  
	width: 100%; 
	max-width: $maxWidthSite;
	margin: 0 auto; 
}

.mini-container {  
	max-width: 600px; 
	width: 95%; 
	margin: 0 auto; 
}

.row {
  &:before
  &:after {  
	  content: ""; 
	  display: table; 
	  clear: both;
  }
}

section .container {  
	margin: 0 auto ;
	padding: 10px 0 ;
} 

[class*="col"]  {
	min-height: 1px; 
	width: 100%;  
	float: left;
}
 
a {
  &:link,
  &:visited,
  &:focus {  
	  color: $white; 
	  text-decoration: none;
	  cursor: pointer;
  }
}

p {  
	font-family: $Lato ;
} 

span  {
	color: $light-cyan; 
}

img  {
	max-width: 100%; 
	height: auto; 
	display: block; 
}

ul,ol {
	margin: 0; 
	padding: 0; 
	list-style-type: none;
}

// ALL HEADERS

.headers  {
	font-family: $Ubuntu;
	font-weight: 900 ;
	text-transform: uppercase; 
	letter-spacing: 2px ;
}


// MAIN TEXT & PARAGRAPHS 

.main-text  {
	font-size: 16px; 
}

.main-paragraphs  {
	font-size: 13px ;
}


// PATTERN 

.pattern  {
	margin: 30px auto 20px ;
	display: block ;
	width: 63px ;
	position: relative ;
	height: 9px ;
	overflow: hidden ;
}
.circle {  
	width: 9px ;
	height: 9px ;
	@include borderRadius(100%);
	background: $light-cyan; 
	display: inline-block ;
	position: absolute; 
}

.circle-1  {
	left: 12px;
}

.circle-2  {
	left: 27px ;
	right: 27px ;
} 

.circle-3  {
	right: 12px;
}
 
.bar {  
	height: 1px ;
	width: 63px ;
	background: $light-cyan;
	position: absolute;
	top: 4px;
} 


// DARK LAYER FOR CONTENT 

.layer {  
	width: 100%;
	min-height: 300px; 
	background-color: rgba(0, 0, 0, 0.85); 
	overflow: hidden; 
} 


// ALL BUTTONS 

.btn {  
	padding: 10px 15px; 
	border: none; 
	cursor: pointer; 
	outline: none; 
	text-transform: uppercase; 
}

.btn-custom-1 { 
	background: $light-cyan;
	color: $white; 
	margin: 20px;
	z-index: 100;
} 

.btn-custom-2  {
	background: $dirty-white ;
	color: black; 
	text-decoration: underline; 
	z-index: 100 ;
} 

.btn-custom-3 { 
	margin: 5px 0; 
	background: $white; 
	color: #000; 
	font-family: $Lato; 
	border: 1px solid $lightgray; 
	font-weight: 900; 
}

.btn-custom-4 {  
	display: block; 
	background: inherit; 
	color: $white; 
	border: 2px solid $white; 
	width: 100%; 
	max-width: 150px; 
	padding: 10px; 
	margin: 30px auto; 
	font-weight: 700; 
	@include trans(all,.3s,ease-in-out);
 
	&:hover,
	&:focus {  
		background: $white; 
		color: #000;
	}
}//btn-custom-4 

.btn-custom-5 { 
	display: block; 
	background: $white; 
	color: #000; 
	margin: 0 auto; 
	@include trans(all,.3s,ease-in-out);
 
	&:hover,
	&:focus { 
		@include transform(scale(1.1));
	}
}//btn-custom-5 

.box  {
	position: relative; 
	min-height: 65px; 
} 

.description { 
	padding-left: 80px; 
	word-wrap: break-word; 
	text-align: left; 
} 

.pgtop  {
	position: fixed; 
	bottom: 50px; 
	right: 20px; 
	text-align: center; 
	background: rgba(0, 0, 0, 0.8); 
	display: none; 
	@include icon-ctrl(30px,17px,$white);
	@include trans(all,.3s,linear);
	@include borderRadius(2px); 
 
	&:hover,
	&:focus { 
		i.fa {  
			color: $light-cyan;
		}	
	}
}//pg-top


// NAVIGATION


.sticky {  
	position: fixed; 
	width: 100%; 
	z-index: 1000; 
	left: 0; 
	top: 0; 
} 

.logo {  
	text-align: left; 
	font-size: 22px; 
	letter-spacing: 2px; 
	height: 60px; 
	line-height: 60px; 
	padding-left: 15px; 
	text-transform: uppercase; 
	font-family: $OpenSans; 
} 

.navigation { 
	font-weight: 900; 
	color: $white; 
	background: rgba(0, 0, 0, 0.75); 
	min-height: 60px; 
}

.navigation-menu { 
	display: none;

 	li  {
		float: none; 
 
  	&:hover,
  	&:focus {
  		> a {  
  			color: $light-cyan;
  	  }	
  	}
 	}//li
 	a {
 		height: 60px; 
		line-height: 67px; 
		padding: 0 15px; 
		display: block; 
		text-align: center; 
		font-family: $Montserrat; 
		font-weight: 600; 
		text-transform: capitalize;
		@include trans(all,.1s,linear);
 	} //a - menu-links
}//navigation-menu 

.hamburger  {
	position: absolute; 
	top: 14px; 
	right: 15px; 
	border: none;
	background: inherit; 
	font-weight: 900; 
	cursor: pointer;
	@include icon-ctrl(30px,20px,$white);
}

// SECTION WELCOME

.hero { 
	position: relative; 
	width: 100%; 
	min-height: 100vh ;
  -webkit-background: $light-cyan url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed ;
  -o-background: $light-cyan url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed ;
	-moz-background: $light-cyan url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed; 
	background: $light-cyan url('../images/meeting-1280-853.jpg') center/cover no-repeat fixed ;
	text-align: center; 
	overflow: hidden; 
}

.hero-content { 
	position: absolute; 
	top: 0 ;
	bottom: 0; 
	width: 100%; 
	background-color: rgba(0, 0, 0, 0.65); 
	padding-top: 35vh; 
	padding-bottom: 0vh ;
	color: white ;
 
	h1  {
		letter-spacing: 0; 
		font-size: 37px ;
		margin: 0 ;
		word-spacing: 5px; 
	}

	p  {
		overflow: hidden ;
		font-size: 16px ;
		font-weight: 300 ;
		color: rgba(255, 255, 255, 0.8);
	}
}//hero-content

.hero-content-inner {  
	height: 65vh;
	overflow: hidden; 
	position: relative;
}

// SECTION FEATURES

.icon-wrapper  {
	padding: 15px; 
	max-width: 400px; 
	margin: 50px auto; 
 
	.fa { 
		@include icon-ctrl (90px,36px,$light-cyan);
		@include borderRadius(50%); 
    border: 1.5px solid $light-cyan; 
		//color: $light-cyan;
	}
 	p  {
		font-size: 13px; 
		word-wrap: break-word; 
		color: #3b4047;
 	}
}//icon-wrapper

.portfolio .pattern { 
	margin: 35px auto 70px; 
}
// SECTION GALLERY

.photo {  
	max-width: 340px; 
	margin: 10px auto; 
	padding: 2%; 
 
	img {
	  @include boxShadow (0px, 0px ,7px, 0px, rgba(0, 0, 0, 0.75));
		margin: 0 auto;
	}
}//photo

// SECTION CREATIVE DESIGNS

.creative-design {  
	background-color: $dirty-white; 
	text-align: left; 
 
	.box { 
		margin-top: 7%; 
	}

	i.fa { 
		position: absolute; 
		left: 0; 
		top: 0; 
		background: $light-cyan; 
		text-align: center; 
		@include icon-ctrl (60px,150%,$white);
		@include borderRadius(100%);
	}
} //creative-design

.description h6 {
	margin: 0px;
	font-size: 12px;
}

.skill-text {
	font-size: 12px;
}

.loading-container {
	max-width: 550px;
	height: 35px;
	margin-bottom: 3%;
	overflow: hidden;
}

.skills {
	padding: 5% 0;
}

.skill-header {
	font-size: 15px;
	margin-top: 0;
}

.skill-title {
	text-align: left;
	width: 80%;
}

.skill-percent {
	text-align: right;
	width: 20%;
}

.percent-loading {
	position: absolute;
	height: 100%;
	background: $light-cyan; 
	@include borderRadius(3px);
}

.js-percent-loading {
	width: 0%;
	-webkit-animation: load 1s ease-out 1 forwards paused;
	/*Safari 4+ */
	-moz-animation: load 1s ease-out 1 forwards paused;
	/* Fx 5+ */
	-o-animation: load 1s ease-out 1 forwards paused;
	/* Opera 12+ */
	animation: load 1s ease-out 1 forwards paused;
	/* IE 10+, Fx*/
	/*   animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
}

.loading {
	width: 100%;
	height: 10px;
	position: relative;
	top: 25px;
}
.js-label {
	opacity: 0;
	-webkit-animation: fadeIn .5s ease-in-out 1.1s 1 normal forwards paused;
	/*Safari 4+ */
	-moz-animation: fadeIn .5s ease-in-out 1.1s 1 normal forwards paused;
	/* Fx 5+ */
	-o-animation: fadeIn .5s ease-in-out 1.1s 1 normal forwards paused;
	/* Opera 12+ */
	animation: fadeIn .5s ease-in-out 1.1s 1 normal forwards paused;
	/* IE 10+, Fx*/
}
.label { 
	position: relative; 
	top: -200%; 
 
	> div {  
		float: left;
	}
	p {  
		margin: 0; 
		font-size: 11px; 
		text-transform: uppercase; 
		font-weight: 600;
	}
}// label
.image-1,
.image-2 {
	display: none;
}


/*KEYFRAMES BARS */

@-webkit-keyframes load {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@-moz-keyframes load {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@-o-keyframes load {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes load {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

#design {
	width: 80%;
}

#development {
	width: 35%;
}

#team-work {
	width: 75%;
}

#photography {
	width: 99%;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


// SECTION STATISTICS

.statistics {  
	background: $light-cyan; 
	color: $white; 
	padding: 20px 0; 
 
	h1 {  
		font-size: 40px; 
		letter-spacing: 2px; 
		font-family: $Ubuntu;
	}
}
.choose-us {
	i.fa { 
		position: absolute; 
		left: 10px; 
		top: 5px; 
		text-align: center;
		@include icon-ctrl(60px,36px,$light-cyan);
	}

	h5 {  
		margin: 0; 
	}
	.box {  
		margin: 35px 5px 0; 
	}
	.description { 
		p {  
			font-size: 13px;
		}
	} //description
}//choose-us

// MANAGERS


.our-testimonials { 
	background: $black1 url('../images/mountaing-rude.jpeg') bottom center/cover no-repeat fixed ;
	color: $white;
}

.members  {
	height: 400px; 
	overflow: hidden; 
	max-width: 700px; 
	width: 100% ;
	margin: 0 auto; 
}

.person-container {  
	height: 400px; 
	padding: 0; 
	margin: 0; 
} 

.person { 
	height: 400px; 
	max-width: 700px; 
	width: 100%; 

 	p  {
		font-size: 12px; 
		padding: 0 5px;
 	}
}//person
.person-image { 
	margin: 0 auto; 
	width: 90px; 
	height: 90px;
	@include borderRadius(50%);
} 

.dots { 
	width: 150px; 
	text-align: center; 
	margin: 50px auto; 
} 

.dot { 
	display: inline-block; 
	padding: 5px; 
	margin: 0 5px;
	height: 10px; 
	width: 10px; 
	background-color: transparent; 
	border: 2px solid $white; 
	cursor: pointer;
	@include trans(background-color,1s,ease);
	@include borderRadius(50%);
} 

.active-dot { 
	background: $white;
}

// OUR OFFERTS - PACKAGES


.offer  {
	max-width: 300px; 
	margin: 10px auto;
	border: 2px solid $dirty-white;

	p {
		text-transform: uppercase; 
		letter-spacing: 1px; 
		font-size: 14px; 
		margin: 0;
	}
	button {
			@include trans(all,.3s,ease-in-out); 
	}
 
	&:hover,
	&:focus {
		border-color: $light-cyan; 
			
		.top-content { 
			background: $light-cyan; 
			color: $white; 
		}
		button { 
			@include transform(scale(1.15));
		}
	}
	ol { 
		margin-top: 10px;
		
		> li {  
			background: $white;
			padding: 10px;
			position: relative; 
			font-family: $Verdana;
			font-size: 12px; 
		} 

			&:before { 
				font-family: 'fontAwesome'; 
				content: "\f00c"; 
				width: 25px;
				height: 25px;
				text-align: center;
				position: absolute;
				left: 5% ;
				display: inline-block ;
			}

			&:last-of-type {
				&:before {  
					font-family: 'fontAwesome'; 
					content: "\f00d";
			  }
			}
	} //ol
} //offer

.top-content {  
	padding: 30px; 
	background-color: $dirty-white; 
 

 	h5 { 
		margin: 10px; 
		letter-spacing: 2px; 
		text-transform: uppercase; 
		font-family: $Ubuntu;
 	}
}// top-content
.down-content { 
	background: $white ;
}
.price {  
	display: inline-block; 
	font-weight: 900; 
	font-size: 38px; 
	position: relative; 
	font-family: $Ubuntu;
 
	&:before {  
		position: absolute; 
		font-family: 'fontAwesome'; 
		content: "\f155"; 
		left: -12px; 
		font-size: 19px; 
		font-weight: 100;
	}
}//price

.blog-sliders { 
	max-width: 339px; 
	margin: 20px auto; 
	width: 95%; 
	position: relative; 
	overflow: hidden; 
 
	img  {
		@include borderRadius(3px);
	}
	&:hover,
	&:focus {
		.next {
			opacity: 1;
		}
		.prev {
			opacity: 1;
		}
	}
} 
.prev,
.next  {
	cursor: pointer; 
	position: absolute; 
	top: 50%; 
	border: none; 
	background: $white; 
	font-weight: bold; 
	z-index: 100; 
	opacity: 0.25;
	@include borderRadius(50%);
	@include icon-ctrl (40px,24px,$light-cyan);
	@include trans(all,.6s,ease);
	@include transform(translateY(-50%));
	
	&:hover {
		color: $white; 
		background: $light-cyan; 
	}
}//prev/next		 
.prev { 
	left: 2%; 
} 
.next {  
	right: 2%;
}
.tag { 
	width: 45px; 
	height: 45px; 
	background: $light-cyan;
	top: 0;
	right: 0; 
	position: absolute ;
	color: $white ;
	font-weight: 700 ;
	z-index: 100 ;
	border-top-right-radius: 3px; 
 
	p {  
		margin: 5px; 
		font-size: 12px; 
  }
}//tag 


.caption p { 
	font-size: 13px; 
	color: #666; 
	text-transform: uppercase; 
	letter-spacing: 1px; 
}

a.btn-read-more {  
	padding: 10px; 
	color: $light-cyan; 
	font-size: 13px ;
	text-transform: uppercase; 
	letter-spacing: 1px; 
	font-weight: 900; 
	font-family: $Ubuntu;
}

//CONTACT US
.contact-us {
	
	background: #000 url('../images/mountains-1280-853.jpeg') center/cover no-repeat fixed;
	position: relative; 
	color: $white; 
	overflow: hidden; 
	min-height: 300px;
 
	h5 {  
		margin: 0 ;
	}
	p {  
		font-size: 11px;
	}
	.box { 
		height: 100px; 
	}
	i.fa  {
		position: absolute ;
		left: 10px; 
		top: 0 ;
		text-align: center; 
		border: 1px solid $white;
		@include icon-ctrl (60px,150%,$white);
		@include borderRadius (100%);
	}
} 
//contact-us

.active  {
	background: $light-cyan; 
	color: $white; 
} 
.active-border {  
	border-color: $light-cyan; 
}
.field-wrap {  
	margin-bottom: 20px;
}
.input-field,
.textarea-field {  
	border: 2px solid $white; 
	background: inherit; 
	font-family: $Ubuntu;
	font-weight: 900; 
	outline: none; 
	color: $white; 
	width: 95%; 
	max-width: 700px; 
	padding-left: 20px; 
	display: block; 
	margin: 0 auto; 
	font-size: 12px;
	
	&:focus {
		border: 1px solid $orange ;
		background: $orange-with-opacity; 	
	}
	&:valid {
	  background: $green-with-opacity; 
    border: 1px solid $green; 
	}
}//input/ textarea
.input-field { 
	height: 40px; 
} 
.textarea-field {  
	height: 159px; 
	padding: 20px;
} 
.textarea-field::-webkit-input-placeholder,
.input-field::-webkit-input-placeholder  { 
	color: $white; 
}
.textarea-field:focus::-webkit-input-placeholder,
.input-field:focus::-webkit-input-placeholder {  
	color: $orange 
}
 
/* Firefox < 19 */

.textarea-field::-moz-input-placeholder,
.input-field:-moz-placeholder {  
	color: $white;
}
 
.textarea-field:focus::-moz-input-placeholder,
.input-field:focus:-moz-placeholder {  
	color: $orange ;
}
 
/* Firefox > 19 */

.textarea-field::-moz-input-placeholder,
.input-field::-moz-placeholder {  
	color: $white;
}
 

.textarea-field:focus::-moz-input-placeholder,
.input-field:focus::-moz-placeholder  {
	color: $orange; 
} 


/* Internet Explorer 10 */

.textarea-field::-ms-input-placeholder,
.input-field:-ms-input-placeholder {  
	color: $white; 
} 

.textarea-field:focus::-ms-input-placeholder,
.input-field:focus:-ms-input-placeholder {  
	color: $orange; 
}

//FOOTER
.footer-wrap {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
}
footer {
	background: $black1;
	color: $white;
	padding: 20px 0 30px;
	text-align: left;

  [class*='col'] {
	  padding: 10px;
	  min-height: 250px;
  }
  
  p {
	  margin: 0;
	  padding: 0 10px;
	  font-size: 12px;
	  word-wrap: break-word;
  }
  
  h6 {
	  position: relative;
	  height: 30px;
	  overflow: hidden;

    &:before {
	    content: '';
	    position: absolute;
	    background: $light-cyan;
	    height: 1px;
	    width: 20px;
	    bottom: 0;
    }  
  }//h6

  ol {

    > li {
	    padding: 5px 10px;
	    font-size: 12px;
	    max-width: 200px;
	    @include trans(all,.3s,ease-in-out);
	    cursor: pointer;
    
      &:hover,
      &:focus {
	      > a {
	        text-decoration: underline;
	      }
      }
    }//li
  }//ol
}//footer


.html-template {
	max-width: 350px;
}

.support a {
	text-transform: uppercase;
}

#newsletter {
	width: 100%;
	margin: 0 auto;
	display: block;
	max-width: 350px;
}

.mini-gallery img {
	float: left;
	width: 30%;
	margin-right: 5%;
	max-height: 80px;
	max-width: 80px;
	margin-bottom: 5%;
  
  &:nth-of-type(3n) {
	  margin-right: 0;
  }
}//mini-gallery img

.footer-end {
	background: $black2;
	color: $white;
  
  p {
	  font-size: 14px;
	  margin: 0;
  }
}//footer-end

.social-media {
	margin: 0 auto;
}

a.social-links {
	margin: 0 5px;
	display: inline-block;
	text-align: center;
  @include icon-ctrl(25px,18px,$white);
  
  &:hover,
  &:focus {
  	@include transform(scale(1.1));
  }
}//a.social-links

.vertical-align-middle {
	height: 50px;
	line-height: 50px;
}
		