.portfolio .pattern {
	margin: 35px auto 70px;
}

.portfolio-item {
	position: relative;
	overflow: hidden;
	cursor: pointer;

	.portfolio-text {
		position: relative;
		color: $white;
	}

	.portfolio-cover {

		bottom: -100%;
		left: 10%;
	 	right: 10%;
		overflow: hidden;
		position: absolute;
		height: 30%;
		max-height: 100px;
		width: 80%;
		@include trans(all,.4s,ease-in-out);
		background-color: $primary-accent;
	}
	&:hover,&:focus{
		> .portfolio-cover {
			bottom: 0%;
		}
	}
}
